/* ハンバガーメニュー */
/*nav*/
nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open nav {
  right: 0;
  opacity: 1;
}
nav .inner {
  padding: 25px;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 767px) {
  nav {
    right: -220px;
    width: 220px;
  }
}
/*.toggle_btn*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
  opacity: 0;
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
  opacity: 0;
}
/*#mask*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}
/* ハンバガーメニュー */

/* フェードイン */
.effect-fade {
  opacity : 0;
  transform : translate(0, 50px);
  transition : all 1.2s 0.3s ease;
}

.effect-fade.effect-scroll {
  opacity : 1;
  transform : translate(0, 0);
}
/* フェードイン */

/* ヘッダー部分 */
.head-content-top {
  height: 200px;
}

.head-top-left > p {
  background: linear-gradient(-15deg, #fff, #fff 50%, #eee 50%, #eee);
  width: 740px;
  height: 200px;
  padding: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  position: absolute;
  top: 180px;
  left: 49%;
}

.head-content-down {
  height: 500px;
}

.head-down-wrapper-a {
  padding: 50px;
}

.head-down-title {
  font-size: 70px;
  margin: 30px auto;
  border-bottom: 1px solid #333;
  padding-left: 180px;
  transform: rotate(-8deg);
}

.head-down-wrapper-b {
  width: 500px;
  margin: auto;
}

.head-down-content {
  margin-left: 150px;
  font-size: 12px;
}

.circle-a {
  position: absolute;
  left: 80%;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  /* background: rgba(79, 205, 255, 0.6); */
}

.circle-b {
  width: 130px;
  height: 130px;
  border-radius: 75px;
  /* background: rgba(79, 205, 255, 0.6); */
}

.circle-c {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-left: 600px;
  /* background: rgba(150, 150, 150, 0.6); */
}
/* ヘッダー部分 */

/* メイン部分 */
/* 導入 */
.name-content {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.en-name {
  width: 300px;
  font-size: 18px;
  font-style: oblique;
  padding: 5px;
  margin: 0 30px;
  border-bottom: 1px solid #999;
}

.ja-name {
  font-size: 36px;
  font-style: oblique;
  padding: 5px;
  margin: 0 30px;
  border-bottom: 1px solid #999;
}

.name-image {
  padding: 5px;
  margin: 0 30px;
  border-radius: 150px;
  margin: 0 30px;
}
/* 導入 */

/* 自己紹介部分 */
.introduction-content-a {
  padding: 20px 0;
  background: whitesmoke;
  /* background:  linear-gradient(-15deg, #fff, #fff 50%, rgba(238, 238, 238, 0.2) 50%, #eee); */
}

.introduction-content-b {
  padding: 100px 0;
  background: whitesmoke;
  /* background:  linear-gradient(6deg, #fff, #fff 50%, rgba(79, 141, 255, 0.2) 50%, rgba(79, 205, 255, 0.6)); */
}

.introduction-title {
  font-size: 50px;
  font-style: oblique;
  padding: 5px;
  margin: 40px auto 0;
  width: 150px;
}

.introduction-title-ja {
  margin: 0 auto 40px;
  text-align: center;
}

.introduction-text {
  font-size: 16px;
  width: 70%;
  margin: 0 auto;
  z-index: 20;
}
/* 自己紹介部分 */

/* 技術スキル部分 */
.skill-content-title {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  margin: 50px 20px 0 ;
}

.skill-content-title-ja {
  text-align: center;
  margin: 0 20px 50px;
}

.skill-content {
  width: 75vw;
  margin: auto;
  background: rgb(235, 219, 219);
}

.skill-contents {
  padding: 10px;
}

.skill-contents > h2 {
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid ;
  margin: 20px ;
}

.skill-graph {
  display: flex;
  align-items: center;
  height: 40px;
}

.skill-name {
  margin: 5px 30px;
  flex-basis: 120px;
}

.graph-html {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #e44b23;
  animation: r-html 4s 2s ease 1 normal forwards running;
}

@keyframes r-html {
  80% {
    width: 43%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 43%;
    transform: rotatex(360deg);
  }
}

.graph-html > p {
  color: #e44b23;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: html 4s 2s ease 1 normal forwards running;
}

@keyframes html {
  90% {
    color: #e44b23;
  }
  100% {
    color: white;
  }
}

.graph-css {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #563d7c;
  animation: r-css 4s 2s ease 1 normal forwards running;
}

@keyframes r-css {
  80% {
    width: 40%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 40%;
    transform: rotatex(360deg);
  }
}

.graph-css > p {
  color: #563d7c;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: css 4s 2s ease 1 normal forwards running;
}

@keyframes css {
  90% {
    color: #563d7c;
  }
  100% {
    color: white;
  }
}

.graph-js {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #f1e05a;
  animation: r-js 4s 2s ease 1 normal forwards running;
}

@keyframes r-js {
  80% {
    width: 30%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 30%;
    transform: rotatex(360deg);
  }
}

.graph-js > p {
  color: #f1e05a;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: js 4s 2s ease 1 normal forwards running;
}

@keyframes js {
  90% {
    color: #f1e05a;
  }
  100% {
    color: white;
  }
}

.graph-jquery {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #0769ad;
  animation: r-jq 4s 2s ease 1 normal forwards running;
}

@keyframes r-jq {
  80% {
    width: 20%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 20%;
    transform: rotatex(360deg);
  }
}

.graph-jquery > p {
  color: #0769ad;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: jq 4s 2s ease 1 normal forwards running;
}

@keyframes jq {
  90% {
    color: #0769ad;
  }
  100% {
    color: white;
  }
}

.graph-vue {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #42b983;
  animation: r-vue 4s 2s ease 1 normal forwards running;
}

@keyframes r-vue {
  80% {
    width: 10%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 10%;
    transform: rotatex(360deg);
  }
}

.graph-vue > p {
  color: #42b983;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: vue 4s 2s ease 1 normal forwards running;
}

@keyframes vue {
  90% {
    color: #42b983;
  }
  100% {
    color: white;
  }
}

.graph-ps {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #0d66d0;
  animation: r-ps 4s 2s ease 1 normal forwards running;
}

@keyframes r-ps {
  80% {
    width: 33%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 33%;
    transform: rotatex(360deg);
  }
}

.graph-ps > p {
  color: #0d66d0;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: ps 4s 2s ease 1 normal forwards running;
}

@keyframes ps {
  90% {
    color: #0d66d0;
  }
  100% {
    color: white;
  }
}

.graph-ill {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #e68619;
  animation: r-ill 4s 2s ease 1 normal forwards running;
}

@keyframes r-ill {
  80% {
    width: 17%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 17%;
    transform: rotatex(360deg);
  }
}

.graph-ill > p {
  color: #e68619;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: ill 4s 2s ease 1 normal forwards running;
}

@keyframes ill {
  90% {
    color: #e68619;
  }
  100% {
    color: white;
  }
}

.graph-xd {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #c515ae;
  animation: r-xd 4s 2s ease 1 normal forwards running;
}

@keyframes r-xd {
  80% {
    width: 33%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 33%;
    transform: rotatex(360deg);
  }
}

.graph-xd > p {
  color: #c515ae;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: xd 4s 2s ease 1 normal forwards running;
}

@keyframes xd {
  90% {
    color: #c515ae;
  }
  100% {
    color: white;
  }
}

.graph-ui {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #c73d13;
  animation: r-ui 4s 2s ease 1 normal forwards running;
}

@keyframes r-ui {
  80% {
    width: 13%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 13%;
    transform: rotatex(360deg);
  }
}

.graph-ui > p {
  color: #c73d13;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: ui 4s 2s ease 1 normal forwards running;
}

@keyframes ui {
  90% {
    color: #c73d13;
  }
  100% {
    color: white;
  }
}

.graph-ruby {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #701516;
  animation: r-ruby 4s 2s ease 1 normal forwards running;
}

@keyframes r-ruby {
  80% {
    width: 30%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 30%;
    transform: rotatex(360deg);
  }
}

.graph-ruby > p {
  color: #701516;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: ruby 4s 2s ease 1 normal forwards running;
}

@keyframes ruby {
  90% {
    color: #701516;
  }
  100% {
    color: white;
  }
}

.graph-rails {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #e17600;
  animation: r-rails 4s 2s ease 1 normal forwards running;
}

@keyframes r-rails {
  80% {
    width: 30%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 30%;
    transform: rotatex(360deg);
  }
}

.graph-rails > p {
  color: #e17600;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: rails 4s 2s ease 1 normal forwards running;
}

@keyframes rails {
  90% {
    color: #e17600;
  }
  100% {
    color: white;
  }
}

.graph-git {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #a53ed4;
  animation: r-git 4s 2s ease 1 normal forwards running;
}

@keyframes r-git {
  80% {
    width: 40%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 40%;
    transform: rotatex(360deg);
  }
}

.graph-git > p {
  color: #a53ed4;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: git 4s 2s ease 1 normal forwards running;
}

@keyframes git {
  90% {
    color: #a53ed4;
  }
  100% {
    color: white;
  }
}

.graph-sql {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #0074a3;
  animation: r-sql 4s 2s ease 1 normal forwards running;
}

@keyframes r-sql {
  80% {
    width: 20%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 20%;
    transform: rotatex(360deg);
  }
}

.graph-sql > p {
  color: #0074a3;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: sql 4s 2s ease 1 normal forwards running;
}

@keyframes sql {
  90% {
    color: #0074a3;
  }
  100% {
    color: white;
  }
}

.graph-aws {
  width: 30px;
  height: 35px;
  border-radius: 2px;
  background: #ec7211;
  animation: r-aws 4s 2s ease 1 normal forwards running;
}

@keyframes r-aws {
  80% {
    width: 23%;
  }
  90% {
    transform: rotatex(0deg);
  }
  100% {
    width: 23%;
    transform: rotatex(360deg);
  }
}

.graph-aws > p {
  color: #ec7211;
  text-align: end;
  padding: 10px 10px 0 0;
  animation: aws 4s 2s ease 1 normal forwards running;
}

@keyframes aws {
  90% {
    color: #ec7211;
  }
  100% {
    color: white;
  }
}

/* 技術スキル部分 */

/* 成果物部分 */
.portfolio-content-title {
  text-align: center;
  font-size: 50px;
  font-style: oblique;
  margin: 50px 15px 0;
}

.portfolio-content-title-ja {
  text-align: center;
  margin: 0 15px 50px;
}

.portfolio-content {
  width: 75vw;
  margin: auto;
  padding: 10px 0;
  background: whitesmoke;
}

.portfolio {
  display: flex;
  align-items: center;
  margin: 15px;
  background: rgb(240, 239, 239);
}

.portfolio > a {
  padding: 10px;
  margin: 20px;
}

.portfolio-contents {
  padding: 10px;
  margin: 10p;
}

.portfolio-contents > ul > li {
  padding: 5px;
  margin: 10p;
  font-size: 10px;
}

.fab {
  color: purple;
}
/* 成果物部分 */

/* 連絡先部分 */
.access-content {
  width: 75vw;
  height: 50vh;
  margin: auto;
}

.access-content-row {
  padding: 90px 0 0;
  text-align: center;
  font-size: 50px;
  font-style: oblique;
}

.access-content-row-ja {
  text-align: center;
  padding: 0 0 90px;
  font-size: 20px;
}

.access-content-address {
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid ;
  width: 60%;
  margin: 20px auto;
  font-size: 15px;
}

.access-content-tweeter {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid ;
  width: 60%;
  margin: 20px auto;
  font-size: 15px;
}

.access-content-github {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid ;
  width: 60%;
  margin: 20px auto;
  font-size: 15px;
}

.footer-content {
  font-size: 20px;
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid ;
  margin: 20px auto;
  text-align: center;
}
/* 連絡先部分 */
/* メイン部分 */

/* フッター部分 */
footer {
  height: 100px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: 18px;
  font-style: oblique;
}

.access-content-tweeter i {
  color: rgb(14, 176, 240);
}

.access-content-github  i {
   color: #333;
}

/* フッター部分 */

