/* リセットCSS */
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin:0;
  padding:0;
}
ul {
  list-style:none;
}
a {
  text-decoration: none;
  color: #333;
}
/* リセットCSS */

/* ヘッダー部分 */
header {
  height: 80px;
  background:whitesmoke;
}

.my-portfolio {
  text-align: center;
  font-size: 25px;
  font-style: oblique;
  padding: 20px;
}
/* ヘッダー部分 */

/* メイン部分 */
/* 導入 */
.name-content {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.en-name {
  width: 300px;
  font-size: 18px;
  font-style: oblique;
  padding: 5px;
  margin: 0 30px;
  border-bottom: 1px solid #999;
}

.ja-name {
  font-size: 36px;
  font-style: oblique;
  padding: 5px;
  margin: 0 30px;
  border-bottom: 1px solid #999;
}

.name-image {
  padding: 5px;
  margin: 0 30px;
  border-radius: 50px;
  margin: 0 30px;
}
/* 導入 */

/* メニュー部分 */
.menu-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background: whitesmoke;
}

.menu-lists > ul {
  font-size: 25px;
  font-style: oblique;
  width: 400px;
}

.menu-lists > ul > li {
  width: 300px;
  font-size: 23px;
  font-style: oblique;
  padding-bottom: 3px;
  border-bottom: 1px solid #777;
  margin: 7px;
}
/* メニュー部分 */

/* 自己紹介部分 */
.introduction-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
}

.introduction-menu {
  position: absolute;
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-picture {
  border-radius: 50%;
  margin-left: 10vw;
}

.introduction-title {
  font-size: 25px;
  font-style: oblique;
  padding: 5px;
  border-bottom: 1px solid #777;
  margin-left: 10vw;
  width: 150px;
}

.introduction-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.introduction-text {
  position: absolute;
  width: 60%;
  margin: 65vh 22vw 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* 自己紹介部分 */

/* 技術スキル部分 */
.skill-content {
  width: 75vw;
  height: 100vh;
  margin: auto;
  background: rgb(148, 137, 137);
}
/* 技術スキル部分 */

/* 成果物部分 */
.portfolio-content {
  width: 75vw;
  height: 100vh;
  margin: auto;
  background: rgb(90, 88, 88);
}
/* 成果物部分 */

/* 連絡先部分 */
.access-content {
  width: 75vw;
  height: 50vh;
  margin: auto;
  background: rgb(199, 198, 198);
}

.footer-content {
  font-size: 20px;
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid #777;
  margin: 20px auto;
  text-align: center;
}
/* 連絡先部分 */
/* メイン部分 */

/* フッター部分 */
footer {
  height: 100px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > p {
  font-size: 18px;
  font-style: oblique;
}
/* フッター部分 */