/* リセットCSS */
* {
  box-sizing: border-box;
}

body,
div {
  margin:0;
  padding:0;
}

.practice-list {
  display: flex;
  justify-content: space-around;
}

.practice-list img {
  margin: 30px;
  border: 1px solid #333;
}