@media (max-width: 1024px) {
  .name-image {
    width: 210px;
    height: 210px;
    margin: 0 10px;
  }
}

@media (max-width: 599px) {
  /* ヘッダー部分 */

  /* ヘッダー部分 */

  /* 導入 */
  .en-name {
    width: 100px;
    font-size: 12px;
  }
  
  .ja-name {
    font-size: 24px;
  }

  .name-image {
    width: 175px;
    height: 175px;
    margin: 0 20px;
  }
  /* 導入 */
 
  /* 自己紹介部分 */
 
  /* 自己紹介部分 */

  /* 成果物部分 */
  .portfolio-content-title {
    font-size: 15px;
  }
  
  .portfolio-content {
    width: 75vw;
    margin: auto;
    background: whitesmoke;
  }
  
  .portfolio {
    padding-top:15px;
    display: block!important;
  }

  .ps-img {
    color: purple;
  }
  /* 成果物部分 */
  
  /* 連絡先部分 */
  .access-content-address {
    display: block;
    width: 80%;
  }
  /* 連絡先部分 */

  /* フッター部分 */
  footer > p {
    font-size: 10px;
    font-style: oblique;
  }
  /* フッター部分 */
}